<section>
  <br />
  <br />
  <div class="jumbotron jumbtron-img">
    <h1 class="text-center text-capitalize" style="margin-top : 4%; color : #5f81ff;">Connecting West-Africa</h1>
    <p></p>
    <h2 class="text-center text-uppercase"><span class="label label-primary">Delivering with happiness</span></h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="page-header">
          <h4><i class="fa fa-suitcase"></i> Benefits</h4>
        </div>
        <ul>
          <li>Fast Delivery</li>
          <li>Small Fee</li>
          <li>Transfer Funds</li>
          <li>Pick Up Point Accessible</li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="page-header">
          <h4><i class="fa fa-motorcycle"></i> Pick Up Points</h4>
        </div>
        <ul>
          <li>Lagos</li>
          <li>Warri</li>
          <li>Accra</li>
          <li>Outskirt of Lagos</li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="page-header">
          <h4><i class="fa fa-clock-o"></i> Hour's Operations</h4>
        </div>
        <dl class="dl-horizontal">
          <dt>Monday - Thursday: </dt>
          <dd > 9 a.m. - 6p.m.</dd>
          <dt>Friday - Saturday: </dt>
          <dd > 10 a.m. - 3p.m.</dd>
          <dt>Phone Number: </dt>
          <dd> 08083536819 </dd>
          <dd> 09023972002 </dd>
        </dl>
      </div>
    </div>
  </div>
</section>