<section>
  <br />
  <br />
  <div class="jumbotron jumbtron-img">
    <h1 class="">welcome to your parcel Company.</h1>
    <p class="text-center lead">We help with moving of goods</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="page-header">
          <h4>Benefits</h4>
        </div>
        <ul>
          <li>Fast Delivery</li>
          <li>All Location in Ghana</li>
          <li>Small Fee</li>
          <li>Insured</li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="page-header">
          <h4>Pick Up Points</h4>
        </div>
        <ul>
          <li>Apapa</li>
          <li>Yaba</li>
          <li>Surulere</li>
          <li>Ikorodu</li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="page-header">
          <h4>Hour's Operations</h4>
        </div>
        <dl class="dl-horizontal">
          <dt>Mon - Thursday: </dt>
          <dd style="margin-left: 0px;"> 9 a.m. - 6p.m.</dd>
          <dt>Friday - Saturday: </dt>
          <dd style="margin-left: 0px;"> 10 a.m. - 3p.m.</dd>
        </dl>
      </div>
    </div>
  </div>
</section>