<section>
  <div class="page-header">
    <h1>Funds</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="transfer in vm.tranfers" ui-sref="tranfers.view({ transferId: transfer._id })" class="list-group-item">
      <dl class="dl-horizontal">
        <dt>Recipent Name:</dt>
        <dd ng-bind="transfer.recipentName"></dd>
        <dt>Recipent Address:</dt>
        <dd ng-bind="transfer.destinationAddress"></dd>
        <dt>Recipent City:</dt>
        <dd ng-bind="transfer.destinationCity"></dd>
        <dt>Recipent Country:</dt>
        <dd ng-bind="transfer.destinationCountry"></dd>
        <dt>Amount:</dt>
        <dd ng-bind="transfer.amount"></dd>
      </dl>
    </a>
  </div>
</section>
