<section>
  <div class="page-header">
    <h1>Funds</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="transfer in vm.tranfers" ui-sref="tranfers.view({ transferId: transfer._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="transfer.created | date:'mediumDate'"></span>
        by
        <span ng-if="transfer.user" ng-bind="transfer.user.displayName"></span>
        <span ng-if="!transfer.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="transfer.title"></h4>
      <p class="list-group-item-text" ng-bind="transfer.content"></p>
    </a>
  </div>
</section>
